#container {
  background-color: lightblue;
}
#complement {
  background-color: lightblue;
}
body {
   background-color: lightblue;
}

md-toast.md-error-toast-theme div.md-toast-content {
  color: white !important;
  background-color: red !important;
  font-weight: bold;
}

md-toast.md-success-toast-theme div.md-toast-content {
  color: white !important;
  background-color: green !important;
  font-weight: bold;
}
.padding-10px{
  padding: 10px !important;
}
.is-selected{
  background-color: midnightblue;
  color: white;
  pointer-events: none;
  cursor: default;
}
.is-selected-son{
  background-color: midnightblue;
  color: white;
}
.hand{
  cursor: pointer;
}
.text-center{
  text-align: center;
}
.text-green{
  color:darkgreen;
}
.text-red{
  color:darkred;
}
