<div layout="row" class="zero" layout-align="center up">
  <div flex-lg="50" ng-cloak>
    <md-button class="md-raised md-primary" ui-sref="invoice">Volver</md-button>
    <md-card>
      <div layout-margin>

        <md-datepicker ng-model="vm.invoice.date_buy" md-max-date="vm.max_date"></md-datepicker>

        <md-input-container class="md-block">
          <label>Number</label>
          <md-icon class="material-icons">looks_one</md-icon>
          <input md-no-asterisk required name="number" ng-model="vm.invoice.number">
        </md-input-container>

      </div>
    </md-card>

    <md-card>
      <div layout-margin>
        <md-input-container class="md-block">
          <label>Operaci&oacute;n</label>
          <md-icon class="material-icons">gavel</md-icon>
          <md-select ng-model="vm.invoice.operation_id">
            <md-option ng-repeat="operation in vm.operations" ng-value="operation.id">
              {{operation.name}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>
    </md-card>
    <operation-create operation="vm.operation" success="vm.operationSuccess" error="vm.operationError" edition="false"></operation-create>

    <md-button class="md-raised md-primary" ng-click="vm.save(true)">Guardar</md-button>
    <md-button class="md-raised md-primary" ng-click="vm.save(false)">Guardar y continuar</md-button>
  </div>
</div>
