<div layout="row" class="zero" layout-align="center up">
  <div flex-lg="50">
    <invoice-line-create invoice-id="vm.invoiceId" invoice-line="vm.invoiceLine"
                         success="vm.success" error="vm.error" edition="false"></invoice-line-create>
    <md-button class="md-raised md-warn" ng-click="vm.showConfirm($event)">Eliminar</md-button>
    <md-card>
      <md-table-container>
        <table md-table md-row-select multiple ng-model="vm.invoiceLines" md-progress="vm.promise">
          <thead md-head md-order="vm.order.sort" md-on-reorder="vm.reOrder">
          <tr md-row>
            <th md-column md-order-by="base"><span>Base</span></th>
            <th md-column md-order-by="iva"><span>IVA</span></th>
            <th md-column>Editar</th>
          </tr>
          </thead>
          <tbody md-body>
          <tr md-row md-select="invoiceLine" md-select-id="id" md-auto-select ng-repeat="invoiceLine in vm.data">
            <td md-cell>{{invoiceLine.base}}</td>
            <td md-cell>{{invoiceLine.iva}}%</td>
            <td md-cell>
              <md-button class="md-icon-button" aria-label="More" ng-click="vm.edit(invoiceLine)">
                <i class="material-icons">edit</i>
              </md-button>
            </td>
          </tr>
          </tbody>
        </table>
      </md-table-container>

      <md-table-pagination md-limit="vm.pageSize" md-limit-options="[5, 10, 15]"
                           md-page="1" md-page-select="true" md-on-paginate="vm.loadPage"
                           md-total="{{(1+vm.links.last) * vm.pageSize}}"
                           md-label="{{vm.mdLabel}}"></md-table-pagination>
    </md-card>
  </div>
</div>
