<div style="width: 100%;">
  <h2>Login</h2>
  <div>
    <md-input-container style="width: 100%;">
      <label>Usuario</label>
      <md-icon class="material-icons">person</md-icon>
      <input md-maxlength="50" required md-no-asterisk name="username" ng-model="vm.username">
    </md-input-container>
  </div>
  <div>
    <md-input-container style="width: 100%;">
      <label>Contraseña</label>
      <md-icon class="material-icons">lock</md-icon>
      <input minlength="4" md-maxlength="100" required md-no-asterisk name="password" ng-model="vm.password"
             type="password">
    </md-input-container>
  </div>
  <div>
    <md-checkbox ng-model="vm.rememberMe" aria-label="rememberMe" class="md-primary">
      Recuerdame
    </md-checkbox>
  </div>
  <md-button class="md-raised md-primary" ng-click="vm.login()">Identificarse</md-button>
  <md-button class="md-raised md-warn" ng-click="vm.clean()">Borrar</md-button>
</div>

