<md-card>
  <div layout="row">
    <div flex="85">
      <h5 layout-margin>Guardar Operaci&oacute;n</h5>
    </div>
    <div flex="15" layout="row" layout-align="end start">
      <md-button class="md-icon-button" aria-label="More" ng-click="vm.edition = !vm.edition">
        <i class="material-icons" ng-if="!vm.edition">expand_more</i>
        <i class="material-icons" ng-if="vm.edition">expand_less</i>
      </md-button>
    </div>
  </div>
  <div layout-margin ng-show="vm.edition">
    <md-input-container class="md-block">
      <label>Nombre</label>
      <md-icon class="material-icons">person</md-icon>
      <input md-no-asterisk required name="name" ng-model="vm.operation.name">
    </md-input-container>
    <md-input-container class="md-block">
      <label>Secci&oacute;n</label>
      <md-icon class="material-icons">bookmark_border</md-icon>
      <md-select ng-model="vm.operation.section_id">
        <md-option ng-repeat="section in vm.sections" ng-value="section.id">
          {{section.name}}
        </md-option>
      </md-select>
    </md-input-container>
    <div>
      <md-button class="md-raised md-primary md-block right" ng-click="vm.save()">Guardar</md-button>
      <md-button class="md-raised md-primary md-block right" ng-click="vm.unselect()"
                 ng-if="vm.operation.id!=null">Deseleccionar</md-button>
    </div>
  </div>
</md-card>
